.header {
	height: 100vh;
	background-image: url(../static/fondo_header.png);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;

	.header__nav {
		padding: 1.5rem;
		display: flex;
		justify-content: center;
		gap: 1rem;

		background-color: $colour-form;
		.nav__link {
			text-decoration: none;
			color: $colour-sure;
			&:hover {
				color: white;
			}
		}
	}
	.header__card {
		height: 80vh;
		width: 90%;
		overflow: hidden;
		background-color: $colour-principal;
		margin: 0 auto;
		border-radius: 25px;
		box-shadow: 0px 0px 2.4px rgba(0, 0, 0, 0.04), 0px 0px 5.3px rgba(0, 0, 0, 0.059),
			0px 0px 8.9px rgba(0, 0, 0, 0.073), 0px 0px 13.5px rgba(0, 0, 0, 0.084),
			0px 0px 19.4px rgba(0, 0, 0, 0.095), 0px 0px 27.5px rgba(0, 0, 0, 0.106),
			0px 0px 39px rgba(0, 0, 0, 0.117), 0px 0px 56.6px rgba(0, 0, 0, 0.131),
			0px 0px 87.2px rgba(0, 0, 0, 0.15), 0px 0px 155px rgba(0, 0, 0, 0.19);

		margin-top: 2rem;
		padding-bottom: 7rem;
		.header__card--seccion1 {
			p {
				color: white;
				text-align: center;
				font-family: $font;
				padding: 0 2rem;
				margin-top: 3rem;
			}
		}
		.header__card--seccion2 {
			display: none;
			p {
				line-height: 1.5rem;
			}
			.card__btn--2 {
				margin-top: 2rem;
				display: block;
				padding: 0.5rem 6rem;
				background-color: $colour-buttons;
				border: none;
				color: $colour-sure;

				cursor: pointer;
				box-shadow: 0px 0px 2.4px rgba(0, 0, 0, 0.04), 0px 0px 5.3px rgba(0, 0, 0, 0.059),
					0px 0px 8.9px rgba(0, 0, 0, 0.073), 0px 0px 13.5px rgba(0, 0, 0, 0.084),
					0px 0px 19.4px rgba(0, 0, 0, 0.095), 0px 0px 27.5px rgba(0, 0, 0, 0.106),
					0px 0px 39px rgba(0, 0, 0, 0.117), 0px 0px 56.6px rgba(0, 0, 0, 0.131),
					0px 0px 87.2px rgba(0, 0, 0, 0.15), 0px 0px 155px rgba(0, 0, 0, 0.19);

				&:hover {
					color: white;
				}
			}
		}
		.header__card__seccion1__fotos {
			display: flex;
			margin-top: 3rem;
			justify-content: center;
			gap: 1rem;

			.header__img {
				width: 5rem;
				height: 4.5rem;
				object-fit: cover;
			}
		}
		h1 {
			color: white;
			font-family: $font;
			padding: 1rem;
			padding-top: 2rem;
			text-align: center;
			letter-spacing: 5px;
		}
		h2 {
			color: white;
			font-family: $font;
			padding: 1rem;

			text-align: center;
		}
		.card__btn--1 {
			margin: 0 auto;
			display: block;
			padding: 0.5rem 6rem;
			background-color: $colour-buttons;
			border: none;
			color: $colour-sure;

			cursor: pointer;
			box-shadow: 0px 0px 2.4px rgba(0, 0, 0, 0.04), 0px 0px 5.3px rgba(0, 0, 0, 0.059),
				0px 0px 8.9px rgba(0, 0, 0, 0.073), 0px 0px 13.5px rgba(0, 0, 0, 0.084),
				0px 0px 19.4px rgba(0, 0, 0, 0.095), 0px 0px 27.5px rgba(0, 0, 0, 0.106),
				0px 0px 39px rgba(0, 0, 0, 0.117), 0px 0px 56.6px rgba(0, 0, 0, 0.131),
				0px 0px 87.2px rgba(0, 0, 0, 0.15), 0px 0px 155px rgba(0, 0, 0, 0.19);

			&:hover {
				color: white;
			}
		}
		hr {
			transform: rotate(90deg);
			border: none;
			background-color: white;
			width: 60vh;
			height: 1px;
			display: none;
		}
	}
	.header__img--rama {
		width: 15rem;
		height: 8rem;
		position: absolute;
		bottom: 1rem;
		right: 0;
		transform: rotateZ(360deg);
		z-index: 99999;
		filter: drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.466));
	}
}
