@media (min-width: 450px) {
}
@media (min-width: 650px) {
	.header {
		.header__nav {
			background-color: rgba(0, 0, 0, 0);
			justify-content: right;
			gap: 2rem;
		}
	}
}
@media (min-width: 900px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 2000px) {
}
