@media (min-width: 450px) {
}
@media (min-width: 650px) {
	.header {
		.header__nav {
			background-color: rgba(0, 0, 0, 0);
			justify-content: right;
			gap: 2rem;
		}
		.header__img--rama {
			width: 20rem;
			height: 10rem;
		}
	}
}
@media (max-height: 670px) {
	.header {
		.header__img--rama {
			display: none;
		}
	}
}

@media (min-width: 900px) {
}
@media (min-width: 1100px) {
	.header {
		.header__img--rama {
			width: 30rem;
			height: 15rem;
			display: block;
		}
		.header__card {
			display: flex;
			align-items: center;
			padding: 0 5rem;
			box-sizing: border-box;
			hr {
				display: block;
			}

			.header__card--seccion1 {
				margin-right: -5rem;
				width: 50%;
				p {
					display: none;
				}
				.card__btn--1 {
					display: none;
				}
				.header__card__seccion1__fotos {
					gap: 2rem;
					.header__img {
						width: 7rem;
						height: 6.5rem;
					}
				}
			}
			.header__card--seccion2 {
				display: block;
				width: 50%;
				margin-left: -5rem;
				color: white;
				font-family: $font;
				display: flex;
				flex-wrap: wrap;
				margin-top: -5rem;
				max-width: 50%;
			}
		}
	}
}
@media (min-width: 2000px) {
}
