//? COLORS

$colour-principal: #111518;
$colour-secondary: #0f1114;
$colour-buttons: #161b1f;
$colour-sure: #a7a7a7;
$colour-form: #0e1113;

//? FONTS

$font: "Roboto", sans-serif;

html {
	box-sizing: border-box;
}
